*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
}

.top{
    height: 80vh;
    background-image: url("./insurance_images2/hero-cover.3.png");
    background-size: 100% 100%;
    background-blend-mode: darken;
}

header{
    display: flex;
    color: white;
    justify-content: space-around;
}
li a {
   text-decoration: none; 

}
li {
    list-style: none;
    margin-left: 4em;
    color: white;
}
.ul_top {
    display: flex;
}
#become {
    background-color: blueviolet;
    width: 110%;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: blue;


}
.centre_top{
    margin: auto;
    text-align: center;
    margin-top: 10%;
    height: 40vh;
}

#we_ensure{
    color: white;
    font-weight: bolder;
    font-size: 2em;
}
#we_know{
    color: white;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 3%;
}

 #button2 {
        margin-top: 2%;
        display: flex;
        border: 2px solid black;
        justify-content: center;
    }

#Quote {
    width: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    height: 15vh;
}
#learn_more {
    width: 10%;
    background-color: transparent;

}

.boxes {
    display: flex;
    justify-content: space-around;
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1%;
}

#peace , #set {
    background-color: white;
    border: 1px  white;
    width: 28%;
    height: 170px;
}
#satisfaction{
    border: 1px  white;
    width: 28%;
    height: 170px;
    background-color: blueviolet;
}
#below_top{
    background-color: pink;
    height: 30vh;
}
.block_3{
    display: flex;
    height: 30vh;
    font-size: x-small;
    align-items: center;
    justify-content: space-evenly;
}
#block_3a , #block_3b , #block_3c{
    margin-left: 8em;
}
#Peace , #set , #percent{
    font-weight: bolder;
}
.block_4{
    height: 70vh;
    background-color: pink;
}
.block_40{
    display: flex;
    justify-content: center;
    color: royalblue;
}

#block_41 , #block_42 , #block_43 {
    background-color: white;
    justify-content: center;
    margin: 2em;
    font-size: x-small;
    padding: 20px;
    opacity: 1.1;
}
block_4 :first-child{
    justify-content: center;
    margin: auto;
    color: blue;
}
#Industry{
    font-weight: bolder;
}
.block_5{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}
.block_6{
    background-color: pink;
    height: 30vh;
}
.subscribe{
    background-color: purple;
    height: 100px;
    width: 50%;
    position: relative;
    top: 10%;
    left: 25%;
}
.block_7{
border: 2px solid black;  
justify-items: center;
background-color: pink;
}
 .block_8{
     background-color: pink;
     height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #block_8a{
    background-color: white;
    width: 20%;
    height: 50vh;
    border: 1px solid blueviolet;
 }
 #block_8b{
     width: 20%;
     border: blue 1px solid;
     background-color: #252B42;
     height: 60vh;
 }
 #block_8c{
     width: 20%;
     border: solid 2px blueviolet;
     height: 50vh;
     background-color: white;
 }
 .block_9{
     height: 70vh;
     background-color: #252B42;
 }
 .block_9b{
     height: 60vh;
     width: 40%;
     position: relative;
     left: 30%;
     top: 50%;
     display: flex;
 }

 .block_9ba{
    width: 35%;
    background-image: url("./insurance_images2/contact-cover.2.png");
    background-size: 100% 100%;
    height: 100%;
 }
 .block_9bb{
     width: 65%;
     height: 100%;
     background-color: white;
 }

 .block_10{
     background-color: pink;
     height: 50vh;
 }
 .block_10a{
    display: flex;
    position: relative;
    left: 33%;
    top: 70%;
 }
 .button_10{
     margin-left: 4em;
     background-color: blueviolet;
     color: white;
 }
 .block_11{
     display: flex;
     background-color: white;
     font-size: xx-small;
     height: 30vh;
 }
 .block_110{
     width: 75%;
     display: flex;
     position: relative;
     left: 20%;
     top: 10%;
 }
 .block_11a , .block_11b , .block_11c , .block_11d , .block_11e {
     width: 15%;
     height: 25vh;
     border: 2px solid black;
     font-size: x-small;
 }
 footer{
     display: flex;
     justify-content: space-around;
     background-color: pink;
     font-size: x-small;
     padding: 1%;
 }