*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
}

.top{
    height: 80vh;
    background-image: url("./insurance_images2/hero-cover.3.png");
    background-size: 100% 100%;
}

header{
    display: flex;
    margin-top: 3%;
    color: white;
    justify-content: space-around;
}
li a {
   text-decoration: none; 

}
li {
    list-style: none;
    margin-left: 4em;
    color: white;
}
.ul_top {
    display: flex;
}
button {
    background-color: blueviolet;
    width: 110%;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: blue;


}
.centre_top{
    margin: auto;
    border: 1px solid black;
    text-align: center;
    margin-top: 10%;
    height: 40vh;
}

#we_ensure{
    color: white;
    font-weight: bolder;
    font-size: 2em;
}
#we_know{
    color: white;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 3%;
}
#Quote {
    width: 10%;
}
#learn_more {
    width: 10%;

}

.boxes {
    display: flex;
    justify-content: space-around;
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1%;
}

#peace , #set {
    background-color: white;
    border: 1px  white;
    width: 28%;
    height: 170px;
}
#satisfaction{
    border: 1px  white;
    width: 28%;
    height: 170px;
    background-color: blueviolet;
}
#below_top{
    background-color: pink;
    height: 25vh;
}